
#xxx{
  background: #F5F6F7;
  display: block;
}
canvas{
  display: block;
}
body{
  margin:0;
}
.actions {
    position: fixed;
    top: 0px;
    left: 0px;
}
.actions > #brush{
  display: none;
}
.actions.x > #brush{
  display: inline-block;
}
.actions.x > #eraser{ 
  display: none;
}
  

