
#xxx{
  background: #F5F6F7;
  display: block;
}

body{
  margin: 0px;
 
}
.actions{
  positionï¼šfixed;
  bottom: 0;
  left: 0;
}
.actions > #brush{
  display: none;
}
.actions.x > #brush{
  display: inline-block;
}
.actions.x > #eraser{ 
  display: none;
}
  

