#xxx{
  background: white;
  display: block;
}
body{
  margin: 0px;
}
html{
}
.actions{
  positionï¼šfixed;
  bottom: 0;
  left: 0;
}
.actions > #brush{
  display: none;
}
.actions.x > #brush{
  display: inline-block;
}
.actions.x > #eraser{ display: none;
}
  canvas {
   display: block;
}

